/*
 Theme Name:   Nothing But Pixels
 Theme URI:    https://nothingbutpixels.com/
 Description:  Storefront child theme for Nothing But Pixels
 Author:       Creative Cache
 Author URI:   https://creativecache.co/
 Template:     storefront
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  nothing-but-pixels
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Code Pro', monospace;
}

.widget .widget-title,
.widget .widgettitle {
	font-family: 'Source Code Pro', monospace;
	font-size: 1.2em;
	line-height: 1.2;
}

@media (min-width: 768px) {

}